/* AppBar Styling */
.app-bar {
  background-color: #e28546 !important;
}

/* Menu Icon */
.menu-icon {
  display: none !important;
}

@media (max-width: 900px) {
  .menu-icon {
    display: block !important;
  }
}

/* Title/Logo */
.nav-title {
  flex-grow: 1;
  font-weight: bold !important;
  color: white !important;
  text-align: left;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

/* Buttons for Desktop View */
.nav-button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
}

.nav-button {
  color: white !important;
  font-weight: bold !important;
}

/* Navigation Buttons */
.nav-buttons {
  display: flex;
}

/* Responsive Styling */
@media (max-width: 600px) {
  .nav-buttons {
    display: none; /* Hide buttons in mobile view */
  }

  .menu-button {
    display: block; /* Show hamburger menu icon */
  }
}

@media (max-width: 900px) {
  .nav-buttons {
    display: none !important;
  }
}

/* Drawer Styling */
.drawer-container {
  width: 250px;
  background-color: #ffffff;
  height: 100%;
}

.drawer-title {
  padding: 16px;
  font-weight: bold !important;
  color: #e28546 !important;
  text-align: center;
}

.drawer-item-text {
  font-size: 2rem !important;
  font-weight: bold !important;
}

/* Logo Styling */
.nav-logo {
  height: 40px;
  width: auto;
  vertical-align: middle;
}

.drawer-logo-container {
  padding: 16px;
  text-align: center;
}

.drawer-logo {
  height: 60px;
  width: auto;
}
